/* Variables */
:root {
  /* Primarios */
  --soft-blue: hsl(200, 100%, 62%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutrales */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --gray-white: hsl(26, 100%, 99%);

  /* Typo */
  --title: "Fraunces", serif;
  --text: "Barlow", sans-serif;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}
a {
  color: black;
  text-decoration: none;
}
body {
  font-family: system-ui;
  font-weight: normal;
}
.container {
  width: 95%;
  margin: 0 auto;
  /* max-width: 1440px; */
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
}
/* Home */
.home {
  background: url("../images/desktop/image-header.jpg") var(--soft-blue) center;
  background-size: cover;
}
.home header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.logo img {
  vertical-align: middle;
}
.home menu a {
  padding: 0.8rem 1.4rem;
  color: var(--white);
}
.home menu a:last-child {
  font-family: var(--title);
  background: white;
  color: black;
  border-radius: 50px;
  text-transform: uppercase;
}
.home-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 16rem;
}
.home-content h2 {
  font-family: var(--title);
  color: var(--white);
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 8px;
  margin-bottom: 4rem;
}
/* Posts-100 */
.post-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.post-item > div {
  padding: 8rem;
}
.post-item div,
.post-item picture {
  flex-basis: 50%;
  width: 50%;
}
.post-item .post-img img {
  width: 100%;
  vertical-align: middle;
  height: 100%;
  object-fit: cover;
}
.post-title {
  font-family: var(--title);
  font-size: 2.5em;
}
.post-text {
  margin: 1.6rem 0;
  line-height: 1.8rem;
}
.post-link {
  font-family: var(--title);
  text-transform: uppercase;
  position: relative;
}
.post-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 110%;
  height: 7px;
  background: var(--yellow);
  border-radius: 50px;
  z-index: -1;
  opacity: 0.5;
}
.post-link:hover::before {
  opacity: 1;
}
.post-item:nth-child(2) .post-link::before {
  background: var(--soft-red);
}
/* Posts-50 */
.posts-50 .row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}
.posts-50 .row article {
  flex-basis: 50%;
  text-align: center;
}
.posts-50 article {
  background-size: cover;
  background-position: center top;
  padding: 26rem 3rem 3rem 3rem;
}
.posts-50 article:first-child {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  color: var(--dark-desaturated-cyan);
}
.posts-50 article:last-child {
  background-image: url("../images/desktop/image-photography.jpg");
  color: var(--dark-blue);
}
.posts-50 article h3 {
  font-family: var(--title);
  font-size: 1.6em;
  margin-bottom: 2rem;
}
.posts-50 article p{
  line-height: 1.8rem;
}





.clinet_testimonials{

  background:  var(--gray-whitee) center;
  background-size: cover;
}


/* clients */


.client_title{

  display: flex;
  justify-content: center;
padding: 6em;
  text-transform: capitalize;

  font-family: var(--title);
  font-size: 1em;
  color: var(--grayish-blue);
  letter-spacing: 5px;
  
}

.clients_module{

display: flex;
justify-content: space-between;
padding: 80px;
}



.client_Emily{
text-align: center;
padding: 30px;
}

.client_Emily img{

  border-radius: 100%;
  height: 80px;
  margin: 20px;
 


}

.client_Emily h3{
  font-family: var(--title);
  font-size: 1em;
  margin-bottom: 0.5rem;





}

.client_Emily p{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  margin:40px;
}

.client_Emily h6{
  color: var(--grayish-blue);
  
  }


  /* client Thomas */




.client_Thomas{
  text-align: center;
  padding: 30px;

}

.client_Thomas img{

  border-radius: 100%;
  height: 80px;
  margin: 20px;
 


}

.client_Thomas h3{
  font-family: var(--title);
  font-size: 1em;
  margin-bottom: 0.5rem;





}

.client_Thomas p{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  margin:40px;
}

.client_Thomas h6{
  color: var(--grayish-blue);
  
  }



 /* client Jennies */

.client_Jennie{
  text-align: center;
  padding: 50px;

}

.client_Jennie img{

  border-radius: 100%;
  height: 80px;
  margin: 20px;
 


}

.client_Jennie h3{
  font-family: var(--title);
  font-size: 1em;
  margin-bottom: 0.5rem;





}

.client_Jennie p{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  margin:40px;
}

.client_Jennie h6{
  color: var(--grayish-blue);
  
  }

/* products pictures */





  .products_pictures{

    display: flex;

    
    

 

    
    
  }

  .product{
    display: flex;
flex-basis: 35%;
width: 100%;




  }



    /* footer */
    
  

  .footer{
    background-color: hsl(168, 34%, 61%);
    color: hsl(167, 40%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    row-gap: 3rem;
}

.footer > .menu-items{
    display: flex;
    width: 100%;    
    justify-content: center;
    column-gap: 45px;
}

.menu-items > a{
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    transition: 0.3s;
}

.menu-items > a:hover{
    color: #fff;
}

.footer > .social-icons{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.footer > .social-icons > img, .svg-icon{
    cursor: pointer;
    transition: all 0.25s;
}

.footer > .social-icons > img:hover, .svg-icon:hover{
    filter: brightness(0) invert(1);
}

.svg-icon:hover{
    transform: scale(1.25);
}

.attribution {
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
}
.attribution a {
    color: hsl(167, 40%, 24%);
    transition: all 0.3s;
    font-size: 18px;
}

.attribution a:hover{
    color: #fff;
}

.footer > .logo > a > span{
    display: none;
}





/* the end  */






